//全局变量
:root{
  // 全局变量 不要写主题相关的变量
  --theme-color: #2BA0FF; //主题颜色
  //主要文本颜色
  --primary-text-color: #17181B;
  //次要文本颜色
  --secondary-text--color: #424242;
  //
  --label-text-color: #86909C;
  //禁用文本颜色
  --disabled-color: #999;
}

body {
  font-family: "HarmonyOSSansSC, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif";
}