// 字体 全局通用字体放在这里，如果是单独页面的字体，单独引入，否则影响首屏加载速度

@font-face {
  font-family: "AlimamaShuHeiTi";
  src: url("@/assets/fonts/AlimamaShuHeiTi-Bold.ttf");
}
@font-face {
  font-family: 'HarmonyOSSansSC';
  src: url('@/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
  font-family: 'MiSans';
  src: url('@/assets/fonts/MiSans-Medium.woff2');
}
