@mixin columnLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@mixin columnRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@mixin columnTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin columnBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center2 {
  display: flex;
  align-items: center;
}

@mixin top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 多行注释
@mixin ellipsisMulti($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

@mixin absCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin commonScroll(
  $trackColor: transparent,
  $barColor: transparent,
  $thumbColor: #999,
  $barWidth: 4px,
  $barHeight: 8px,
  $barRadius: 4px
) {
  &::-webkit-scrollbar {
    background-color: $barColor;
    width: $barWidth;
    height: $barHeight;
  }
  &::-webkit-scrollbar-track {
    border-radius: $barRadius;
    background-color: $trackColor;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $barRadius;
    background-color: $thumbColor;
  }
}

@mixin commonHover($time: 0.3s, $distance: -10px) {
  transition: $time;
  &:hover {
    transform: translateY($distance);
  }
}
@mixin scroll {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgba(28, 32, 130, 1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #335396;
  }
}
// 动画过渡时间
@mixin moveTime {
  transition: var(--transition);
}
